In [3]:
import pandas as pd

In [2]:
pd.to_datetime('2022-09-25')

Timestamp('2022-09-25 00:00:00')

In [3]:
df = pd.Series([0,1,10,100,1000])

In [4]:
df

0       0
1       1
2      10
3     100
4    1000
dtype: int64

In [5]:
pd.to_datetime(df, unit='D')# 시리즈의 값을 시계열로 변경하면서 '일'기준으로 만들기

0   1970-01-01
1   1970-01-02
2   1970-01-11
3   1970-04-11
4   1972-09-27
dtype: datetime64[ns]

In [6]:
pd.to_datetime(df, unit='M') #시리즈의 값을 이용해서 시계열데이터도 만들 수 있다.

0   1970-01-01 00:00:00
1   1970-01-31 10:29:06
2   1970-11-01 08:51:00
3   1978-05-02 16:30:00
4   2053-05-01 21:00:00
dtype: datetime64[ns]

In [7]:
##시계열데이터 만들기
df_time = pd.Series(['2022-09-25','25-10-2022','25/7/2022','50/3/2022'])

In [8]:
df_time

0    2022-09-25
1    25-10-2022
2     25/7/2022
3     50/3/2022
dtype: object

In [11]:
pd.to_datetime(df_time, errors= 'coerce')#에러에 대해서는 NA값으로 바꿔라

0   2022-09-25
1   2022-10-25
2   2022-07-25
3          NaT
dtype: datetime64[ns]

In [12]:
##시계열예시데이터
crime = pd.read_csv('crime.csv')

In [14]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  object
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 31.6+ MB

In [16]:
crime['REPORTED_DATE'] = pd.to_datetime(crime['REPORTED_DATE'])

In [18]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  datetime64[ns]
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 31.6+ MB

## 시계열데이터 컬럼을 인덱스로 바꾸기!

In [20]:
crime_df =crime.set_index('REPORTED_DATE')

### 시계열데이터를 슬라이싱의 개념!

In [25]:
crime_df

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-06-29 02:01:00,0,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,1,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,2,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,3,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,4,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...
2017-09-13 05:48:00,460906,burglary-business-by-force,burglary,-105.033840,39.762365,west-highland,1,0
2017-09-12 20:37:00,460907,weapon-unlawful-discharge-of,all-other-crimes,-105.040313,39.721264,barnum-west,1,0
2017-09-12 16:32:00,460908,traf-habitual-offender,all-other-crimes,-104.847024,39.779596,montbello,1,0
2017-09-12 13:04:00,460909,criminal-mischief-other,public-disorder,-104.949182,39.756353,skyland,1,0
2017-09-12 09:30:00,460910,theft-other,larceny,-104.985739,39.735045,capitol-hill,1,0

In [26]:
#시계열데이터를 인덱스로 설정하면 여러가지 사용할 수 있는 문법이 있다.
crime_df.loc['2014']

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-06-29 02:01:00,0,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,1,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,2,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,3,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,4,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...
2014-01-21 07:32:00,457344,traffic-accident,traffic-accident,-104.998902,39.711204,baker,0,1
2014-05-22 10:55:00,457385,harassment-dv,public-disorder,-104.905262,39.724593,hilltop,1,0
2014-01-20 17:27:00,457769,traffic-accident,traffic-accident,-104.968227,39.739752,cheesman-park,0,1
2014-01-02 10:44:00,458291,theft-from-bldg,larceny,-105.046018,39.720992,barnum-west,1,0
2014-08-26 07:16:00,458670,theft-of-motor-vehicle,auto-theft,-105.029423,39.688665,mar-lee,1,0

In [27]:
crime_df.loc['2014-05']

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-05-22 10:55:00,43,burglary-residence-no-force,burglary,-105.033458,39.751880,sloan-lake,1,0
2014-05-22 11:17:00,46,traffic-accident,traffic-accident,-104.959164,39.676406,university-park,0,1
2014-05-23 17:37:00,47,disturbing-the-peace,public-disorder,-104.827987,39.786489,montbello,1,0
2014-05-23 17:37:00,48,public-fighting,all-other-crimes,-104.827987,39.786489,montbello,1,0
2014-05-22 12:37:00,49,aggravated-assault-dv,aggravated-assault,-104.986593,39.750477,five-points,1,0
...,...,...,...,...,...,...,...,...
2014-05-07 13:23:00,428871,assault-dv,other-crimes-against-persons,-105.052642,39.740784,west-colfax,1,0
2014-05-16 13:09:00,434621,burglary-business-by-force,burglary,-104.921400,39.705160,washington-virginia-vale,1,0
2014-05-13 12:55:00,446065,criminal-mischief-graffiti,public-disorder,-104.841739,39.780096,montbello,1,0
2014-05-22 15:17:00,450226,fraud-identity-theft,white-collar-crime,-104.963841,39.738609,cheesman-park,1,0
2014-05-22 10:55:00,457385,harassment-dv,public-disorder,-104.905262,39.724593,hilltop,1,0

In [28]:
crime_df.loc['2014-05-01']

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-05-01 10:20:00,409,criminal-trespassing,all-other-crimes,-104.964769,39.740000,cheesman-park,1,0
2014-05-01 10:42:00,1302,theft-bicycle,larceny,-105.023305,39.769060,highland,1,0
2014-05-01 23:52:00,1750,theft-items-from-vehicle,theft-from-motor-vehicle,-104.991980,39.754552,five-points,1,0
2014-05-01 17:19:00,2833,traffic-accident-hit-and-run,traffic-accident,-104.973800,39.731549,capitol-hill,0,1
2014-05-01 09:55:00,3880,theft-shoplift,larceny,-104.900123,39.766029,stapleton,1,0
...,...,...,...,...,...,...,...,...
2014-05-01 18:34:00,304789,traf-other,all-other-crimes,-105.018260,39.678602,college-view-south-platte,1,0
2014-05-01 14:17:00,306208,traffic-accident,traffic-accident,-104.987110,39.689138,platt-park,0,1
2014-05-01 10:32:00,352315,disturbing-the-peace,public-disorder,-105.052917,39.675919,harvey-park,1,0
2014-05-01 10:32:00,366011,threats-to-injure,public-disorder,-105.052917,39.675919,harvey-park,1,0
2014-05-01 14:31:00,374632,assault-simple,other-crimes-against-persons,-104.827987,39.786489,montbello,1,0

In [29]:
crime_df.loc['Dec 2014']

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-19 17:42:00,1219,traffic-accident,traffic-accident,-104.940355,39.781688,northeast-park-hill,0,1
2014-12-06 08:25:00,1225,disturbing-the-peace,public-disorder,-104.817529,39.773653,montbello,1,0
2014-12-19 08:29:00,1301,burglary-residence-no-force,burglary,-104.901114,39.729047,lowry-field,1,0
2014-12-01 22:13:00,1322,liquor-possession,drug-alcohol,-104.966871,39.738576,cheesman-park,1,0
2014-12-30 08:26:00,1341,theft-items-from-vehicle,theft-from-motor-vehicle,-105.037817,39.771111,berkeley,1,0
...,...,...,...,...,...,...,...,...
2014-12-18 22:36:00,377801,criminal-trespassing,all-other-crimes,-104.999197,39.739042,lincoln-park,1,0
2014-12-10 19:35:00,377834,assault-simple,other-crimes-against-persons,-105.033088,39.706098,westwood,1,0
2014-12-16 13:51:00,379049,assault-simple,other-crimes-against-persons,-104.921734,39.753780,north-park-hill,1,0
2014-12-20 08:37:00,416416,drug-methampetamine-sell,drug-alcohol,-105.008755,39.697055,athmar-park,1,0
2014-12-16 13:06:00,427420,harassment,public-disorder,-104.985507,39.730838,capitol-hill,1,0

In [30]:
crime_df.loc['Dec 2014'].sort_index()#인덱스 정렬

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-01 00:01:00,178089,theft-items-from-vehicle,theft-from-motor-vehicle,-104.904967,39.701152,washington-virginia-vale,1,0
2014-12-01 00:19:00,216781,traf-other,all-other-crimes,-105.024963,39.677701,college-view-south-platte,1,0
2014-12-01 00:28:00,216778,theft-shoplift,larceny,-105.053677,39.675409,harvey-park,1,0
2014-12-01 00:33:00,2852,theft-of-services,larceny,-105.052872,39.710916,westwood,1,0
2014-12-01 00:47:00,179534,liquor-possession,drug-alcohol,-104.932821,39.754674,north-park-hill,1,0
...,...,...,...,...,...,...,...,...
2014-12-31 23:59:00,126879,theft-of-motor-vehicle,auto-theft,-105.031583,39.712121,barnum,1,0
2014-12-31 23:59:00,148309,traffic-accident,traffic-accident,-105.040484,39.751199,sloan-lake,0,1
2014-12-31 23:59:00,226091,weapon-carrying-concealed,all-other-crimes,-105.017647,39.718170,valverde,1,0
2014-12-31 23:59:00,226092,disturbing-the-peace,public-disorder,-105.017647,39.718170,valverde,1,0
2014-12-31 23:59:00,97411,assault-dv,other-crimes-against-persons,-105.017647,39.718170,valverde,1,0

In [32]:
crime_df.loc['2014-12-01':'2014-12-25'].sort_index()

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-12-01 00:01:00,178089,theft-items-from-vehicle,theft-from-motor-vehicle,-104.904967,39.701152,washington-virginia-vale,1,0
2014-12-01 00:19:00,216781,traf-other,all-other-crimes,-105.024963,39.677701,college-view-south-platte,1,0
2014-12-01 00:28:00,216778,theft-shoplift,larceny,-105.053677,39.675409,harvey-park,1,0
2014-12-01 00:33:00,2852,theft-of-services,larceny,-105.052872,39.710916,westwood,1,0
2014-12-01 00:47:00,179534,liquor-possession,drug-alcohol,-104.932821,39.754674,north-park-hill,1,0
...,...,...,...,...,...,...,...,...
2014-12-25 22:33:00,157839,burglary-residence-by-force,burglary,-104.809309,39.788262,gateway-green-valley-ranch,1,0
2014-12-25 22:59:00,237422,drug-pcs-other-drug,drug-alcohol,-104.972747,39.757633,whittier,1,0
2014-12-25 22:59:00,179558,contraband-into-prison,all-other-crimes,-104.972747,39.757633,whittier,1,0
2014-12-25 23:12:00,237431,assault-dv,other-crimes-against-persons,-104.995457,39.719246,baker,1,0
2014-12-25 23:43:00,237434,threats-to-injure,public-disorder,-105.032543,39.670484,harvey-park,1,0

In [35]:
#Datetime index만 작동하는 메서드!
crime_df.between_time('3:00','6:00',include_end=False)

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2014-06-29 04:17:00,4,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
2014-06-29 04:22:00,5,violation-of-restraining-order,all-other-crimes,-104.972447,39.739449,cheesman-park,1,0
2014-06-29 04:54:00,7,assault-dv,other-crimes-against-persons,-104.994622,39.746857,cbd,1,0
2014-06-29 03:56:00,9,criminal-trespassing,all-other-crimes,-104.956140,39.741610,city-park,1,0
2014-06-29 03:42:00,10,traffic-accident-hit-and-run,traffic-accident,-105.025065,39.693108,mar-lee,0,1
...,...,...,...,...,...,...,...,...
2017-09-12 04:06:00,460744,theft-other,larceny,-104.961225,39.769028,cole,1,0
2017-08-25 04:41:00,460824,theft-items-from-vehicle,theft-from-motor-vehicle,-104.880586,39.645164,hampden-south,1,0
2017-09-13 04:17:00,460863,theft-of-motor-vehicle,auto-theft,-105.028694,39.708288,westwood,1,0
2017-09-13 03:21:00,460879,traffic-accident-dui-duid,traffic-accident,-105.010711,39.757385,highland,0,1
2017-09-13 05:48:00,460906,burglary-business-by-force,burglary,-105.033840,39.762365,west-highland,1,0

In [37]:
##내가 원하는 시간 데이터를 추출할 수 있다!
crime_df.at_time('9:18').sort_index()

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-04 09:18:00,441814,criminal-mischief-mtr-veh,public-disorder,-104.983635,39.751397,five-points,1,0
2012-01-06 09:18:00,142825,traffic-accident,traffic-accident,-104.959346,39.692962,washington-park,0,1
2012-01-17 09:18:00,69697,theft-of-motor-vehicle,auto-theft,-105.005731,39.784287,chaffee-park,1,0
2012-01-18 09:18:00,80043,traffic-accident-hit-and-run,traffic-accident,-104.973557,39.735090,capitol-hill,0,1
2012-01-26 09:18:00,432902,traffic-accident,traffic-accident,-104.986891,39.756010,five-points,0,1
...,...,...,...,...,...,...,...,...
2017-08-17 09:18:00,410408,theft-bicycle,larceny,-104.959688,39.677540,university,1,0
2017-09-07 09:18:00,458534,traf-other,all-other-crimes,-104.903436,39.778421,stapleton,1,0
2017-09-14 09:18:00,460461,weapon-unlawful-discharge-of,all-other-crimes,-104.889827,39.739893,east-colfax,1,0
2017-09-15 09:18:00,452540,theft-of-motor-vehicle,auto-theft,-105.037595,39.724850,barnum,1,0
2017-09-23 09:18:00,457773,theft-items-from-vehicle,theft-from-motor-vehicle,-104.973083,39.683665,university,1,0

In [39]:
crime_df_1=crime_df.sort_index()

In [42]:
crime_df_1.first(pd.offsets.MonthEnd(5))
#first 문법 구글링을 통해서 다양한 메서드를 찾아볼 수 있습니다!

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-05-30 22:54:00,445015,traffic-accident,traffic-accident,-104.979155,39.779398,globeville,0,1
2012-05-30 23:07:00,419708,theft-other,larceny,-105.017810,39.768845,highland,1,0
2012-05-30 23:19:00,364321,burglary-residence-by-force,burglary,-105.033337,39.718878,barnum,1,0
2012-05-30 23:19:00,42971,traffic-accident,traffic-accident,-104.962581,39.756376,whittier,0,1
2012-05-30 23:39:00,47527,burglary-business-no-force,burglary,-104.987214,39.670031,rosedale,1,0

In [44]:
crime_df_1.first('5D') #5일을 기준으로 뽑기

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-01-06 23:11:00,44614,theft-items-from-vehicle,theft-from-motor-vehicle,-104.999752,39.726081,lincoln-park,1,0
2012-01-06 23:23:00,71968,violation-of-restraining-order,all-other-crimes,-104.969588,39.681135,university,1,0
2012-01-06 23:30:00,425408,assault-dv,other-crimes-against-persons,-104.958983,39.674135,university-park,1,0
2012-01-06 23:44:00,36352,theft-of-motor-vehicle,auto-theft,-104.845356,39.794035,montbello,1,0
2012-01-06 23:55:00,367849,threats-to-injure,public-disorder,-105.004788,39.708714,athmar-park,1,0

In [46]:
crime_df_1.first('10W')#주

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-03-10 22:24:00,39022,assault-dv,other-crimes-against-persons,-105.012305,39.697091,athmar-park,1,0
2012-03-10 22:31:00,166080,theft-of-motor-vehicle,auto-theft,-104.921551,39.676420,goldsmith,1,0
2012-03-10 23:21:00,98737,traffic-accident,traffic-accident,-104.999462,39.678501,college-view-south-platte,0,1
2012-03-10 23:51:00,404458,burglary-residence-by-force,burglary,-104.975872,39.764120,five-points,1,0
2012-03-10 23:55:00,146265,robbery-car-jacking,robbery,-105.025184,39.710679,westwood,1,0

In [47]:
crime_df_1.first('5M')#월

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-05-30 22:54:00,445015,traffic-accident,traffic-accident,-104.979155,39.779398,globeville,0,1
2012-05-30 23:07:00,419708,theft-other,larceny,-105.017810,39.768845,highland,1,0
2012-05-30 23:19:00,364321,burglary-residence-by-force,burglary,-105.033337,39.718878,barnum,1,0
2012-05-30 23:19:00,42971,traffic-accident,traffic-accident,-104.962581,39.756376,whittier,0,1
2012-05-30 23:39:00,47527,burglary-business-no-force,burglary,-104.987214,39.670031,rosedale,1,0

In [48]:
crime_df_1.first('5Y')#월

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2016-12-30 23:37:00,370275,theft-from-bldg,larceny,-104.957123,39.715304,belcaro,1,0
2016-12-30 23:38:00,371492,traffic-accident-dui-duid,traffic-accident,-104.892518,39.739668,east-colfax,0,1
2016-12-30 23:38:00,374076,violation-of-court-order,all-other-crimes,-104.892518,39.739668,east-colfax,1,0
2016-12-30 23:45:00,364082,theft-shoplift,larceny,-104.897946,39.769688,stapleton,1,0
2016-12-31 00:00:00,369222,weapon-unlawful-discharge-of,all-other-crimes,-104.829834,39.776392,montbello,1,0

In [49]:
crime_df_1.first('5B')#5영업일추출

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-01-08 23:46:00,408061,theft-items-from-vehicle,theft-from-motor-vehicle,-104.991384,39.753888,five-points,1,0
2012-01-08 23:51:00,62044,burglary-residence-no-force,burglary,-105.031781,39.747420,sloan-lake,1,0
2012-01-08 23:52:00,71453,theft-other,larceny,-104.968227,39.739752,cheesman-park,1,0
2012-01-09 00:04:00,74628,traffic-accident-hit-and-run,traffic-accident,-104.973343,39.760757,five-points,0,1
2012-01-09 00:05:00,54991,fraud-criminal-impersonation,white-collar-crime,-105.024676,39.712702,valverde,1,0

### 시계열 데이터의 Datetime 다양한 문법을 구글링해서 11월에 발표해 주세요!
- 최소 10개 이상으로 정리하여 발표 진행해 주세요!

- resample을 이용하여 주별, 월별 값 계산하기!

In [51]:
crime_df_1.resample('W').sum()

               Unnamed: 0        GEO_LON       GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-08      191652101  -91635.139692  34682.570497       551         326
2012-01-15      220195742 -111684.754272  42268.923393       600         471
2012-01-22      215659722 -103388.422802  39134.553291       654         337
2012-01-29      219257103 -103291.149015  39088.087322       655         333
2012-02-05      209562852  -92791.249566  35118.419732       536         352
...                   ...            ...           ...       ...         ...
2017-09-03      889059115 -203945.315496  77199.264287      1458         501
2017-09-10      787066469 -180435.254668  68302.010127      1309         425
2017-09-17      900405971 -205722.532391  77882.287423      1474         503
2017-09-24      841231941 -191451.945029  72475.194889      1332         508
2017-10-01      480972209 -110628.844977  41877.289235       753         307

[300 rows x 5 columns]

In [52]:
crime_df_1.resample('W').mean()

                  Unnamed: 0     GEO_LON    GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-08     218531.472064 -104.965796  39.728030  0.628278    0.371722
2012-01-15     205598.265173 -104.966874  39.726432  0.560224    0.439776
2012-01-22     217618.286579 -104.962866  39.730511  0.659939    0.340061
2012-01-29     221920.144737 -104.970680  39.723666  0.662955    0.337045
2012-02-05     235994.202703 -104.967477  39.726719  0.603604    0.396396
...                      ...         ...        ...       ...         ...
2017-09-03     454529.199898 -104.964136  39.731994  0.745399    0.256135
2017-09-10     454164.148298 -104.965244  39.733572  0.755338    0.245239
2017-09-17     455671.037955 -104.960476  39.735861  0.745951    0.254555
2017-09-24     457439.880914 -104.962689  39.734208  0.724307    0.276237
2017-10-01     454175.834750 -104.960953  39.731773  0.711048    0.289896

[300 rows x 5 columns]

In [53]:
crime_df_1.resample('W').median()

               Unnamed: 0     GEO_LON    GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-08       129206.0 -104.977889  39.734972       1.0         0.0
2012-01-15        83877.0 -104.978361  39.732223       1.0         0.0
2012-01-22       108363.0 -104.979947  39.736874       1.0         0.0
2012-01-29       143252.0 -104.985847  39.729283       1.0         0.0
2012-02-05       185638.0 -104.979646  39.734532       1.0         0.0
...                   ...         ...        ...       ...         ...
2017-09-03       454831.5 -104.982116  39.739897       1.0         0.0
2017-09-10       454014.0 -104.983935  39.739848       1.0         0.0
2017-09-17       456064.5 -104.980508  39.740153       1.0         0.0
2017-09-24       458245.0 -104.982360  39.740019       1.0         0.0
2017-10-01       454312.0 -104.979820  39.739243       1.0         0.0

[300 rows x 5 columns]

In [54]:
crime_df_1.resample('W').min()

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-08,2195,agg-aslt-police-weapon,aggravated-assault,-105.095211,39.614420,athmar-park,0,0
2012-01-15,436,aggravated-assault,aggravated-assault,-105.106456,39.614990,athmar-park,0,0
2012-01-22,937,accessory-conspiracy-to-crime,aggravated-assault,-105.098517,39.615436,athmar-park,0,0
2012-01-29,386,aggravated-assault,aggravated-assault,-105.206197,39.615461,athmar-park,0,0
2012-02-05,21,aggravated-assault,aggravated-assault,-105.104709,39.625771,athmar-park,0,0
...,...,...,...,...,...,...,...,...
2017-09-03,176327,agg-aslt-police-weapon,aggravated-assault,-105.206197,39.614990,athmar-park,0,0
2017-09-10,193934,accessory-conspiracy-to-crime,aggravated-assault,-105.206197,39.614407,athmar-park,0,0
2017-09-17,89011,agg-aslt-police-weapon,aggravated-assault,-105.206197,39.615750,athmar-park,0,0
2017-09-24,112711,agg-aslt-police-weapon,aggravated-assault,-105.094463,39.615750,athmar-park,0,0
2017-10-01,191519,agg-aslt-police-weapon,aggravated-assault,-105.206197,39.615750,athmar-park,0,0

In [55]:
crime_df_1.resample('M').sum() #월별

               Unnamed: 0        GEO_LON        GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-31      915028981 -441593.590846  167133.040452      2660        1569
2012-02-29      927857479 -414510.019595  156885.985057      2353        1629
2012-03-31      939297203 -456901.926876  172941.212239      2869        1528
2012-04-30      958125751 -484935.672244  183549.237636      3070        1595
2012-05-31     1067347781 -534895.215006  202458.825484      3321        1831
...                   ...            ...            ...       ...         ...
2017-05-31     1707510555 -848527.339941  321191.952757      5965        2203
2017-06-30     3100277268 -836254.485703  316549.053532      5972        2076
2017-07-31     3130674345 -836254.770863  316557.607690      6005        2039
2017-08-31     3634823999 -906564.198017  343179.655321      6568        2131
2017-09-30     3343957563 -765182.180778  289659.109023      5417        1931

[69 rows x 5 columns]

In [56]:
crime_df_1.resample('Y').sum() #월별

                Unnamed: 0       GEO_LON       GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-12-31     12809857901 -5.934292e+06  2.246145e+06     37286       19786
2013-12-31     14600806248 -7.246151e+06  2.742824e+06     50698       18862
2014-12-31     15047442066 -8.801341e+06  3.331490e+06     62690       21763
2015-12-31     18188224240 -9.280214e+06  3.512745e+06     65894       23310
2016-12-31     27056187738 -9.480964e+06  3.588870e+06     67381       23744
2017-12-31     18516726312 -7.250241e+06  2.744495e+06     51902       17836

## 11월 시계열 데이터 분석 과제 설명

### sales 시계열 데이터 분석 보고서 발표
- 기한 : 2022.11.6
- 분석목적 : 시계열 분석 역량 강화
- 분석방향 : 시계열 데이터를 만들고 고객의 주문금액, 주문수량, 주문제품에 대한 다양한 인사이트를 만들어 주세요.
- 추가분석 : 장바구니분석(apriori),RFM, 비지도학습(클러스터링), 시각화 필수
- 주의사항 : 1차원적인 분석 결과는 절대로 안 돼요!, 꼭 코드를 작성하고 해당 코드에 대한 주석 및 결과에 대한 마크다운 처리, 인사이트 마크다운 처리
- 해당 과제를 제출 안 하는 경우는 팀 매칭이 없습니다.